# Virtual environment
venv/

# Thư mục chứa mô hình fine-tuned và các checkpoint
phobert_leave_ner_finetuned/
phobert_leave_ner_results/

# Các file log
*.log

# Các file tạm thời, cache, ...
__pycache__/
*.pyc